[tool.black]
line-length = 127
target-version = ['py311']
exclude = '''
/(
    \.git
  | \.venv
  | venv
  | migrations
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"
line_length = 127
skip_gitignore = true
known_first_party = ["movies", "users", "movie_recommendation"]
skip = ["migrations", "venv", ".venv", "env"]